main{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}


app-square{
    border: 1px gray solid;
    height: 200px;
}

button{
    // position: relative;
    margin: auto;
}